<a href="https://colab.research.google.com/github/alirezash97/Pattern-Recognition-Course/blob/main/Anticancer_peptides.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget 'https://archive.ics.uci.edu/ml/machine-learning-databases/00589/Anticancer_Peptides.zip'

In [ ]:
!unzip '/content/Anticancer_Peptides.zip'

In [58]:
import numpy as np
from math import ceil, log2

In [8]:
import pandas as pd 

lung_data = pd.read_csv('/content/ACPs_Lung_cancer.csv')
print(len(lung_data))
lung_data.head()

901

   ID                 sequence           class
0   1  AIGKFLHSAKKFGKAFVGEIMNS     mod. active
1   2            FAKALAKLAKKLL     mod. active
2   3          FAKALKALLKALKAL     mod. active
3   4            FAKFLAKFLKKAL     mod. active
4   5         FAKIIAKIAKIAKKIL  inactive - exp

In [40]:
lung_data['class'].unique()

array(['mod. active', 'inactive - exp', 'very active',
       'inactive - virtual'], dtype=object)

In [29]:
# find the maximum number of chars

max = 0
for i in lung_data['sequence']:
  if len(i) > max:
    max = len(i)
print(max)

38

In [85]:
# preprocessing

def binary_encoder(dataset):
  
  
  inputs = np.zeros((len(dataset), max*5)) # 5 bits for each char
  for sequence_index, sequence in enumerate(dataset['sequence']):
    for char_index, char in enumerate(sequence):
      binary_char = '{0:05b}'.format(ord(char) - 64)
      inputs[ sequence_index, char_index*5 : (char_index+1)*5 ] = [i for i in binary_char]

  

  labels = np.zeros(( len(dataset), ))
  for row_index, row in enumerate(dataset['class']):
    

    if row  == 'mod. active':
      labels[row_index] = 0
    elif row  == 'inactive - exp':
      labels[row_index] = 1
    elif row  == 'very active':
      labels[row_index] = 2
    elif row  == 'inactive - virtual':
      labels[row_index] = 3
    else:
      labels[row_index] = None

  return inputs, labels

In [86]:
x, y = binary_encoder(lung_data)

In [92]:
print(x[0, :])
print(y[0])

[0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 0. 1. 0. 1. 1. 0. 0. 1. 1.
 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0.
 1. 1. 0. 1. 0. 1. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 1. 0. 0.
 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 1. 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 1. 0.
 1. 0. 0. 1. 0. 1. 1. 0. 1. 0. 1. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
0.0

In [95]:
lung_data.loc[pd.isna(lung_data['class']), :].index

Int64Index([], dtype='int64')